{"swagger": "2.0", "basePath": "/api/v2", "host": "core.hivelocity.net", "schemes": ["https"], "paths": {"/account/controlled-client": {"get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/ControlledClient-dump"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get all controlled clients for enterprise owner", "operationId": "get_account_create", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Account"]}, "put": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/ControlledClient-dump"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Deactivate client", "operationId": "put_account_create", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/DeactivateEnterpriseControlledClient"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Account"]}, "post": {"responses": {"201": {"description": "Success", "schema": {"$ref": "#/definitions/ClientCreate-dump"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Create controlled client for enterprise owner", "operationId": "post_account_create", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/CreateEnterpriseControlledClient"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Account"]}}, "/bandwidth/device/{deviceId}": {"parameters": [{"required": true, "in": "path", "description": "ID of Device to View", "name": "deviceId", "type": "integer"}, {"default": "day", "required": true, "type": "string", "enum": ["day", "week", "month", "custom"], "in": "query", "description": "Return data in the given period. Day, week, month will return the previous day, week, month from now.", "name": "period"}, {"default": "eth0", "required": true, "type": "string", "enum": ["eth0", "eth1", "public", "private", "all"], "in": "query", "description": "Network interface to get bandwidth usage from. eth0 and eth1 are your first and second nic respectively. If unsure use the public, private, and all values. Overages are billed on public traffic.", "name": "interface"}, {"type": "boolean", "default": false, "in": "query", "description": "If you are a reseller, this will include historical interface data for device regardless of the current device owner.", "name": "historical"}, {"default": 300, "type": "integer", "required": true, "in": "query", "description": "Interval of data in seconds. Historical data is condensed, if provided value is smaller than existing steps for the date range the endpoint will return data with the smallest available step.", "name": "step"}, {"type": "integer", "default": 0, "in": "query", "description": "Start time of custom time period. (Unix Epoch Time)", "name": "start"}, {"type": "integer", "default": 1683163019, "in": "query", "description": "End time of custom time period (Unix Epoch Time)", "name": "end"}], "post": {"responses": {"200": {"description": "Device Bandwidth Graph retrieved.", "schema": {"type": "array", "items": {"$ref": "#/definitions/Bandwidth"}}}, "400": {"description": "Unable to retrieve Bandwidth Graph for this Device."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get data by device", "operationId": "post_device_id_bandwidth_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Bandwidth"]}}, "/bandwidth/device/{deviceId}/image": {"parameters": [{"required": true, "in": "path", "description": "ID of Device to View", "name": "deviceId", "type": "integer"}, {"default": "day", "required": true, "type": "string", "enum": ["day", "week", "month", "custom"], "in": "query", "description": "Return data in the given period. Day, week, month will return the previous day, week, month from now.", "name": "period"}, {"default": "eth0", "required": true, "type": "string", "enum": ["eth0", "eth1", "public", "private", "all"], "in": "query", "description": "Network interface to get bandwidth usage from. eth0 and eth1 are your first and second nic respectively. If unsure use the public, private, and all values. Overages are billed on public traffic.", "name": "interface"}, {"type": "integer", "default": 0, "in": "query", "description": "Start Time of Custom Time Period. (Unix Epoch Time)", "name": "start"}, {"type": "integer", "default": 1683163019, "in": "query", "description": "End Time of Custom Time Period (Unix Epoch Time)", "name": "end"}], "post": {"responses": {"200": {"description": "Device Bandwidth Graph retrieved.", "schema": {"type": "array", "items": {"$ref": "#/definitions/BandwidthImage"}}}, "400": {"description": "Unable to retrieve Bandwidth Graph for this Device."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get PNG by device", "operationId": "post_device_id_bandwidth_image_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Bandwidth"]}}, "/bandwidth/service/{serviceId}": {"parameters": [{"required": true, "in": "path", "description": "ID of Service to View", "name": "serviceId", "type": "integer"}, {"default": "day", "required": true, "type": "string", "enum": ["day", "week", "month", "custom"], "in": "query", "description": "Return data in the given period. Day, week, month will return the previous day, week, month from now.", "name": "period"}, {"default": "eth0", "required": true, "type": "string", "enum": ["eth0", "eth1", "public", "private", "all"], "in": "query", "description": "Network interface to get bandwidth usage from. eth0 and eth1 are your first and second nic respectively. If unsure use the public, private, and all values. Overages are billed on public traffic.", "name": "interface"}, {"default": 300, "type": "integer", "required": true, "in": "query", "description": "Interval of data in seconds. Historical data is condensed, if provided value is smaller than existing steps for the date range the endpoint will return data with the smallest available step.", "name": "step"}, {"type": "integer", "default": 0, "in": "query", "description": "Start Time of Custom Time Period. (Unix Epoch Time)", "name": "start"}, {"type": "integer", "default": 1683163019, "in": "query", "description": "End Time of Custom Time Period (Unix Epoch Time)", "name": "end"}], "post": {"responses": {"200": {"description": "Service Bandwidth Graph retrieved.", "schema": {"type": "array", "items": {"$ref": "#/definitions/Bandwidth"}}}, "400": {"description": "Unable to retrieve Bandwidth Graph for this Service."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get data by service", "operationId": "post_service_id_bandwidth_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Bandwidth"]}}, "/bandwidth/service/{serviceId}/image": {"parameters": [{"required": true, "in": "path", "description": "ID of Service to View", "name": "serviceId", "type": "integer"}, {"default": "day", "required": true, "type": "string", "enum": ["day", "week", "month", "custom"], "in": "query", "description": "Return data in the given period. Day, week, month will return the previous day, week, month from now.", "name": "period"}, {"default": "eth0", "required": true, "type": "string", "enum": ["eth0", "eth1", "public", "private", "all"], "in": "query", "description": "Network interface to get bandwidth usage from. eth0 and eth1 are your first and second nic respectively. If unsure use the public, private, and all values. Overages are billed on public traffic.", "name": "interface"}, {"type": "integer", "default": 0, "in": "query", "description": "Start Time of Custom Time Period. (Unix Epoch Time)", "name": "start"}, {"type": "integer", "default": 1683163019, "in": "query", "description": "End Time of Custom Time Period (Unix Epoch Time)", "name": "end"}], "post": {"responses": {"200": {"description": "Service Bandwidth Graph retrieved.", "schema": {"type": "array", "items": {"$ref": "#/definitions/BandwidthImage"}}}, "400": {"description": "Unable to retrieve Bandwidth Graph for this Service."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get PNG by service", "operationId": "post_service_id_bandwidth_image_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Bandwidth"]}}, "/bare-metal-devices/": {"get": {"responses": {"200": {"description": "Devices found successfuly", "schema": {"type": "array", "items": {"$ref": "#/definitions/BareMetalDevice"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get all devices", "operationId": "get_bare_metal_device_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Bare Metal Devices"]}, "post": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/BareMetalDevice"}}, "201": {"description": "Device provisioning started"}, "400": {"description": "Invalid device parameters."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Provision an instant device", "operationId": "post_bare_metal_device_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/BareMetalDeviceCreate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Bare Metal Devices"]}}, "/bare-metal-devices/batch": {"post": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/BareMetalDeviceBatch"}}, "201": {"description": "Device provisioning started"}, "400": {"description": "Invalid device parameters."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Batch provision instant devices", "operationId": "post_bare_metal_device_batch_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/BareMetalDeviceBatchCreate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Bare Metal Devices"]}}, "/bare-metal-devices/{deviceId}": {"parameters": [{"in": "query", "description": "Id of the deployment to interact with", "name": "deploymentId", "type": "string"}, {"name": "deviceId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Deployment Found", "schema": {"$ref": "#/definitions/BareMetalDevice"}}, "401": {"description": "Access to Deployment not Allowed"}, "404": {"description": "Deployment Not Found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get device", "operationId": "get_bare_metal_device_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Bare Metal Devices"]}, "put": {"responses": {"200": {"description": "Device updated.", "schema": {"$ref": "#/definitions/BareMetalDevice"}}, "400": {"description": "Invalid device parameters."}, "404": {"description": "Device Not Found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Update/reload instant device", "operationId": "put_bare_metal_device_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/BareMetalDeviceUpdate"}}, {"name": "skipPowerCheck", "in": "query", "type": "boolean", "description": "If true, bypass the powered off check."}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Bare Metal Devices"]}, "delete": {"responses": {"201": {"description": "Cancellation Started."}, "204": {"description": "Device Deleted"}, "400": {"description": "Device Cancellation Failed."}, "401": {"description": "Not Allowed"}, "404": {"description": "Device Not Found"}, "409": {"description": "Device Already Being Cancelled."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Cancel/delete device", "operationId": "delete_bare_metal_device_id_resource", "tags": ["Bare Metal Devices"]}}, "/billing-info/": {"get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/BillingInfo"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return a list with all Billing Info", "operationId": "get_billing_info_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["BillingInfo"]}, "put": {"responses": {"201": {"description": "Success", "schema": {"$ref": "#/definitions/Credit"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Verify credit card with all Billing Info", "operationId": "put_billing_info_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/BillingInfoVerification"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["BillingInfo"]}, "post": {"responses": {"201": {"description": "Success", "schema": {"$ref": "#/definitions/BillingInfo"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Create verification for credit card with all Billing Info", "operationId": "post_billing_info_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/BillingInfoVerification"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["BillingInfo"]}}, "/contact/": {"get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Contact-dump"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return a list with all Contacts", "operationId": "get_contact_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Contact"]}, "post": {"responses": {"201": {"description": "Contact successfully created", "schema": {"$ref": "#/definitions/Contact-dump"}}, "400": {"description": "Unable to create Contact"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Create a new Contact", "operationId": "post_contact_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/ContactCreate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Contact"]}}, "/contact/password": {"put": {"responses": {"200": {"description": "Success"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Recieve a token and password, verify the user and reset your password", "operationId": "put_password_reset", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/PasswordResponse"}}], "tags": ["Contact"]}, "post": {"responses": {"200": {"description": "Success"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Recieve a request to reset password, and send a link by email with token", "operationId": "post_password_reset", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/PasswordRequest"}}], "tags": ["Contact"]}}, "/contact/{contactId}": {"parameters": [{"in": "path", "description": "ID of Contact to View / Update", "name": "contactId", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/Contact-dump"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return details of a specific Contact", "operationId": "get_contact_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Contact"]}, "put": {"responses": {"200": {"description": "Contact successfully updated.", "schema": {"$ref": "#/definitions/Contact-dump"}}, "400": {"description": "Unable to update Contact Data."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Edit a Contact", "operationId": "put_contact_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/ContactUpdate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Contact"]}, "delete": {"responses": {"404": {"description": "Contact not found."}, "204": {"description": "Contact successfully deleted."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Delete a Contact", "operationId": "delete_contact_id_resource", "tags": ["Contact"]}}, "/contact/{contactId}/password": {"parameters": [{"in": "path", "description": "\"ID of Contact to change password\"", "name": "contactId", "required": true, "type": "integer"}], "put": {"responses": {"400": {"description": "Invalid password for authentication."}, "200": {"description": "Password was changed."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Change password for a Contact", "operationId": "put_password_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/Password"}}], "tags": ["Contact"]}}, "/deploy/": {"get": {"responses": {"200": {"description": "Deployments found successfully", "schema": {"type": "array", "items": {"$ref": "#/definitions/Deployment"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return a list with all client deployments", "operationId": "get_deployment_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Deployment"]}, "post": {"responses": {"201": {"description": "Deployment Created", "schema": {"$ref": "#/definitions/Deployment"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Start a new deployment", "operationId": "post_deployment_resource", "parameters": [{"name": "deploymentName", "in": "query", "type": "string"}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Deployment"]}}, "/deploy/{deploymentId}": {"parameters": [{"in": "path", "description": "Id of the deployment to interact with", "name": "deploymentId", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Deployment Found", "schema": {"$ref": "#/definitions/Deployment"}}, "401": {"description": "Access to Deployment not Allowed"}, "404": {"description": "Deployment Not Found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return a dictionary with deployment information", "operationId": "get_deployment_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Deployment"]}, "put": {"responses": {"200": {"description": "Server configuration added to Deployment", "schema": {"$ref": "#/definitions/Deployment"}}, "400": {"description": "Your configuration have incompatible or unavailable options"}, "401": {"description": "Access to this Deployment not Allowed"}, "404": {"description": "Deployment Not Found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Receive product, quantity and options to be added on the deployment", "operationId": "put_deployment_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/DeploymentCustomization"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Deployment"]}, "delete": {"responses": {"204": {"description": "Deployment Deleted"}, "401": {"description": "Access to this Deployment not Allowed"}, "404": {"description": "Deployment Not Found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Delete the specified deployment", "operationId": "delete_deployment_id_resource", "tags": ["Deployment"]}, "post": {"responses": {"201": {"description": "Deployment Started"}, "401": {"description": "Access to Deployment not Allowed"}, "404": {"description": "Deployment Not Found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Input a billing info id and script to process and finish a deployment", "operationId": "post_deployment_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/DeploymentStart"}}], "tags": ["Deployment"]}}, "/device/": {"get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Device-dump"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get all devices", "operationId": "get_device_resource", "parameters": [{"type": "integer", "default": null, "required": false, "in": "query", "description": "Filter Devices only in this Rack ID", "name": "rack_id"}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/devicelist": {}, "/device/ipmi/thresholds": {"put": {"responses": {"200": {"description": "Devices IPMI Thresholds updated.", "schema": {"$ref": "#/definitions/DevicesIPMIThresholds"}}, "400": {"description": "Unable to update IPMI Thresholds for this Device list."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Bulk update IPMI thresholds", "operationId": "put_ipmi_devices_thresholds_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/UpdateDevicesIPMIThresholds"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/preview-ignition": {"post": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/PreviewEffectiveIgnitionResponse"}}, "422": {"description": "Error"}, "400": {"description": "Error"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Preview Ignition injections", "operationId": "post_preview_effective_ignition_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/PreviewEffectiveIgnition"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/tags": {"get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/DeviceTag"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get all tags", "operationId": "get_client_device_tag_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/tags-order": {"get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/DeviceTag"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get tag order", "operationId": "get_client_device_tag_order_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}, "put": {"responses": {"200": {"description": "Device tags order updated.", "schema": {"$ref": "#/definitions/DeviceTag"}}, "400": {"description": "Bad request."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Update tag order", "operationId": "put_client_device_tag_order_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/DeviceTag"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/tags-order/all": {"get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/DeviceTag"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get all tag orders", "operationId": "get_all_device_tag_order_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/{deviceId}": {"parameters": [{"in": "path", "description": "ID of Device to View / Update", "name": "deviceId", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/Device-dump"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get device", "operationId": "get_device_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}, "put": {"responses": {"200": {"description": "Device MetaData was updated.", "schema": {"$ref": "#/definitions/Device-dump"}}, "400": {"description": "Unable to update Device MetaData."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Update device", "operationId": "put_device_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/DeviceUpdate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/{deviceId}/ignition": {"parameters": [{"name": "deviceId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/EffectiveIgnitionResponse"}}, "404": {"description": "Not Found"}, "400": {"description": "Error"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get Ignition injections", "operationId": "get_effective_ignition_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/{deviceId}/initial-creds": {"parameters": [{"required": true, "in": "path", "description": "ID of Device to retrieve initial authentication credentials for", "name": "deviceId", "type": "integer"}], "get": {"responses": {"200": {"description": "Device initial credentials.", "schema": {"$ref": "#/definitions/DeviceInitialCreds"}}, "400": {"description": "Unable to get initial credentials for this Device."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get initial creds", "operationId": "get_initial_creds_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/{deviceId}/ipmi": {"parameters": [{"required": true, "in": "path", "description": "ID of Device to retrieve IPMI info.", "name": "deviceId", "type": "integer"}], "get": {"responses": {"200": {"description": "Device IPMI Thresholds retrieved", "schema": {"$ref": "#/definitions/DeviceIPMIInfo"}}, "400": {"description": "Unable to retrieve IPMI Thresholds for this Device."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get IPMI data", "operationId": "get_ipmi_info_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/{deviceId}/ipmi/login-data": {"parameters": [{"required": true, "in": "path", "description": "ID of Device to retrieve IPMI Login data.", "name": "deviceId", "type": "integer"}], "get": {"responses": {"200": {"description": "Device IPMI Login data retrieved", "schema": {"$ref": "#/definitions/IPMILoginData"}}, "400": {"description": "Unable to retrieve IPMI Login data for this Device."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get IPMI creds", "operationId": "get_ipmi_info_login_data_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/{deviceId}/ipmi/nat": {"parameters": [{"in": "path", "description": "ID of a client Device", "name": "deviceId", "required": true, "type": "integer"}], "get": {"responses": {"400": {"description": "The request has problems. Revise it and try again."}, "202": {"description": "The request was accepted."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Clear IPMI whitelist", "operationId": "get_device_ipminat_rule_resource", "tags": ["Device"]}}, "/device/{deviceId}/ipmi/thresholds": {"parameters": [{"required": true, "in": "path", "description": "ID of Device to View", "name": "deviceId", "type": "integer"}], "get": {"responses": {"200": {"description": "Device IPMI Thresholds retrieved.", "schema": {"$ref": "#/definitions/DeviceIPMIThresholds"}}, "400": {"description": "Unable to retrieve IPMI Thresholds for this Device."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get IPMI thresholds", "operationId": "get_ipmi_thresholds_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}, "put": {"responses": {"200": {"description": "Device IPMI Thresholds retrieved.", "schema": {"$ref": "#/definitions/DeviceIPMIThresholds"}}, "400": {"description": "Unable to update IPMI Thresholds for this Device."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Update IPMI thresholds", "operationId": "put_ipmi_thresholds_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/DeviceIPMIThresholds"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/{deviceId}/ipmi/valid-login": {"parameters": [{"required": true, "in": "path", "description": "ID of Device to check IPMI credentials", "name": "deviceId", "type": "integer"}], "get": {"responses": {"200": {"description": "IPMI credentials validated.", "schema": {"$ref": "#/definitions/IPMIValidLogin"}}, "400": {"description": "Unable to validate IPMI credentials this Device."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get IPMI access status", "operationId": "get_ipmi_valid_login_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/{deviceId}/ipmi/whitelist/": {"parameters": [{"in": "path", "description": "ID of the Device to put IP in Whitelist", "name": "deviceId", "required": true, "type": "integer"}], "post": {"responses": {"400": {"description": "The request has problems. Revise it and try again."}, "202": {"description": "The request was accepted."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Whitelist IP for IPMI", "operationId": "post_device_ipmi_whitelist_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/DeviceIPMIWhitelistIP"}}], "tags": ["Device"]}}, "/device/{deviceId}/ips": {"parameters": [{"name": "deviceId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Device Ip Assignments retrieved", "schema": {"type": "array", "items": {"$ref": "#/definitions/IPAssignment"}}}, "400": {"description": "Unable to retrieve IP Assignments for this Device."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get IPs", "operationId": "get_device_ip_assignments_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/{deviceId}/port/{portId}/clear": {"parameters": [{"name": "deviceId", "in": "path", "required": true, "type": "integer"}, {"name": "portId", "in": "path", "required": true, "type": "integer"}], "post": {"responses": {"202": {"description": "Accepted", "schema": {"$ref": "#/definitions/NetworkTask-dump"}}, "429": {"description": "Request was Rate Limited"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Clear all Port configurations", "operationId": "post_device_port_id_clear_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/{deviceId}/ports": {"parameters": [{"name": "deviceId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/DevicePort"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get ports", "operationId": "get_device_port_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}, "put": {"responses": {"202": {"description": "Accepted", "schema": {"type": "array", "items": {"$ref": "#/definitions/NetworkTask-dump"}}}, "429": {"description": "Request was Rate Limited"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Update port network", "operationId": "put_device_port_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/DevicePortsUpdate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/{deviceId}/ports/bond": {"parameters": [{"name": "deviceId", "in": "path", "required": true, "type": "integer"}], "delete": {"responses": {"202": {"description": "Accepted", "schema": {"$ref": "#/definitions/NetworkTask-dump"}}, "429": {"description": "Request was Rate Limited"}, "404": {"description": "Device not found"}, "401": {"description": "Access to this Device is not allowed"}, "400": {"description": "Invalid action"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Unbond ports", "operationId": "delete_device_bond_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}, "post": {"responses": {"202": {"description": "Accepted", "schema": {"$ref": "#/definitions/NetworkTask-dump"}}, "429": {"description": "Request was Rate Limited"}, "404": {"description": "Device not found"}, "401": {"description": "Access to this Device is not allowed"}, "400": {"description": "Invalid action"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Bond ports", "operationId": "post_device_bond_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/{deviceId}/power": {"parameters": [{"in": "path", "description": "ID of Device to View / Update", "name": "deviceId", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/DevicePower"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get power status", "operationId": "get_power_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}, "post": {"responses": {"202": {"description": "Success", "schema": {"$ref": "#/definitions/DevicePower"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Update power status", "operationId": "post_power_resource", "parameters": [{"name": "action", "in": "query", "type": "string", "pattern": "boot|reboot|shutdown", "required": true, "description": "Must be one of boot|reboot|shutdown"}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/device/{deviceId}/services": {"parameters": [{"default": "flat", "in": "query", "description": "Get results grouped by service type code 'type_code', or 'flat'", "name": "group_by", "type": "string"}, {"default": "all", "type": "string", "in": "query", "description": "Return service having the same service type code, the default value is all\n The list of service types can be accessed on https://core.hivelocity.net/api/v2/service/types", "name": "type_code"}, {"in": "path", "description": "ID of Device to get all services by type", "name": "deviceId", "required": true, "type": "integer"}], "get": {"responses": {"404": {"description": "Unable to find the device or the device does not have a service"}, "400": {"description": "Unable to retrieve services for this device"}, "200": {"description": "Device services retrieved", "schema": {"$ref": "#/definitions/Services"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get all device services", "operationId": "get_device_id_service_resource", "tags": ["Device"]}}, "/device/{deviceId}/tags": {"parameters": [{"in": "path", "description": "ID of Device to View / Update", "name": "deviceId", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/DeviceTag"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get device tags", "operationId": "get_device_tag_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}, "put": {"responses": {"200": {"description": "Device tags updated.", "schema": {"$ref": "#/definitions/DeviceTag"}}, "400": {"description": "Bad request."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Update device tags", "operationId": "put_device_tag_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/DeviceTag"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Device"]}}, "/domains/": {"get": {"responses": {"200": {"description": "Success.", "schema": {"type": "array", "items": {"$ref": "#/definitions/DomainReturn"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return the domains of a client", "operationId": "get_domain_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}, "post": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/DomainReturn"}}, "400": {"description": "Bad request."}, "201": {"description": "Created."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Create a new domain", "operationId": "post_domain_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/DomainCreate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}}, "/domains/ptr": {"get": {"responses": {"200": {"description": "Success.", "schema": {"type": "array", "items": {"$ref": "#/definitions/PTRRecordReturn"}}}, "400": {"description": "Error"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return the PTR records of a client", "operationId": "get_ptr_record_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}}, "/domains/ptr/{recordId}": {"parameters": [{"name": "recordId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success.", "schema": {"$ref": "#/definitions/PTRRecordReturn"}}, "400": {"description": "Error"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "operationId": "get_ptr_record_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}, "put": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/PTRRecordReturn"}}, "400": {"description": "Error"}, "202": {"description": "Success."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "operationId": "put_ptr_record_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/PTRRecordUpdate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}}, "/domains/{domainID}/aaaa-record": {"parameters": [{"name": "domainID", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/AAAARecordReturn"}}}, "404": {"description": "Not found"}, "400": {"description": "Error"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return all AAAA Records found for given zone", "operationId": "get_aaaa_record_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}, "post": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/AAAARecordReturn"}}, "404": {"description": "Not found"}, "400": {"description": "Error"}, "201": {"description": "Created"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Create a new AAAA Record for given zone", "operationId": "post_aaaa_record_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/AAAARecordCreate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}}, "/domains/{domainID}/aaaa-record/{recordId}": {"parameters": [{"name": "domainID", "in": "path", "required": true, "type": "integer"}, {"name": "recordId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/AAAARecordReturn"}}, "404": {"description": "Not found"}, "400": {"description": "Error"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return Single AAAA Records found for given id", "operationId": "get_aaaa_record_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}, "put": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/AAAARecordReturn"}}, "404": {"description": "Not Found"}, "400": {"description": "Error"}, "202": {"description": "Updated"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Update an AAAA Record for given id", "operationId": "put_aaaa_record_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/AAAARecordUpdate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}, "delete": {"responses": {"404": {"description": "Not found"}, "400": {"description": "Error"}, "204": {"description": "Deleted"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Delete an AAAA Record for given zone", "operationId": "delete_aaaa_record_id_resource", "tags": ["Domains"]}}, "/domains/{domainID}/mx-record": {"parameters": [{"name": "domainID", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/MXRecordReturn"}}}, "404": {"description": "Not found"}, "400": {"description": "Error"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return all MX Records found for given zone", "operationId": "get_mx_record_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}, "post": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/MXRecordReturn"}}, "404": {"description": "Not found"}, "400": {"description": "Error"}, "201": {"description": "Created"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Create a new MX Record for given zone", "operationId": "post_mx_record_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/MXRecordCreate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}}, "/domains/{domainID}/mx-record/{recordId}": {"parameters": [{"name": "domainID", "in": "path", "required": true, "type": "integer"}, {"name": "recordId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/MXRecordReturn"}}, "404": {"description": "Not found"}, "400": {"description": "Error"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return Single MX Records found for given id", "operationId": "get_mx_record_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}, "put": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/MXRecordReturn"}}, "404": {"description": "Not found"}, "400": {"description": "Error"}, "202": {"description": "Updated"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Update an MX Record for given zone", "operationId": "put_mx_record_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/MXRecordUpdate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}, "delete": {"responses": {"404": {"description": "Not found"}, "400": {"description": "Error"}, "204": {"description": "Deleted"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Delete an MX Record for given zone", "operationId": "delete_mx_record_id_resource", "tags": ["Domains"]}}, "/domains/{domainId}": {"parameters": [{"name": "domainId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success.", "schema": {"$ref": "#/definitions/DomainReturn"}}, "404": {"description": "Domain not found."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return a domain for given id", "operationId": "get_domain_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}, "delete": {"responses": {"500": {"description": "Error."}, "404": {"description": "Domain not found."}, "204": {"description": "Deleted."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Delete domain for given id", "operationId": "delete_domain_id_resource", "tags": ["Domains"]}}, "/domains/{domain}/a-record": {"parameters": [{"name": "domain", "in": "path", "required": true, "type": "string"}], "get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/ARecord"}}}, "404": {"description": "Not found"}, "400": {"description": "Error"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return all A Records found for given zone name", "operationId": "get_a_record_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}, "post": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/ARecord"}}, "409": {"description": "Record Already Exists"}, "404": {"description": "Not found"}, "400": {"description": "Error"}, "201": {"description": "Created"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Create a new A Record for given zone", "operationId": "post_a_record_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/ARecord"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}}, "/domains/{domain}/a-record/{record}": {"parameters": [{"name": "domain", "in": "path", "required": true, "type": "string"}, {"name": "record", "in": "path", "required": true, "type": "string"}], "get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/ARecord"}}, "404": {"description": "Not found"}, "400": {"description": "Error"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return Single A Records found for given domain name", "operationId": "get_a_record_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}, "put": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/ARecord"}}, "404": {"description": "Not found"}, "400": {"description": "Error"}, "202": {"description": "Updated"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Update an A Record for given zone", "operationId": "put_a_record_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/ARecord"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Domains"]}, "delete": {"responses": {"404": {"description": "Not found"}, "400": {"description": "Error"}, "204": {"description": "Deleted"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Delete a single A Record value for given zone", "operationId": "delete_a_record_id_resource", "tags": ["Domains"]}}, "/ignition/": {"get": {"responses": {"200": {"description": "Successfully returned ignition configs", "schema": {"type": "array", "items": {"$ref": "#/definitions/IgnitionResponse"}}}, "400": {"description": "Unable to get ignition configs"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Gets an Ignition configuration", "operationId": "get_ignition_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Ignition"]}, "post": {"responses": {"201": {"description": "Successfully created ignition configs", "schema": {"$ref": "#/definitions/IgnitionResponse"}}, "400": {"description": "Unable to create ignition config"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Creates a new Ignition configuration", "operationId": "post_ignition_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/CreateIgnition"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Ignition"]}}, "/ignition/{ignitionId}": {"parameters": [{"name": "ignitionId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Successfully returned ignition config", "schema": {"$ref": "#/definitions/IgnitionResponse"}}, "400": {"description": "Unable to get ignition config"}, "404": {"description": "Not found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "operationId": "get_ignition_resource_id", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Ignition"]}, "put": {"responses": {"200": {"description": "Successfully updated ignition config", "schema": {"$ref": "#/definitions/IgnitionResponse"}}, "400": {"description": "Unable to get ignition config"}, "404": {"description": "Not found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "operationId": "put_ignition_resource_id", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/UpdateIgnition"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Ignition"]}, "delete": {"responses": {"200": {"description": "Successfully returned ignition configs"}, "400": {"description": "Unable to delete ignition configs"}, "404": {"description": "Not found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "operationId": "delete_ignition_resource_id", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Ignition"]}}, "/inventory/locations": {"get": {"responses": {"200": {"description": "Location data was found", "schema": {"type": "array", "items": {"$ref": "#/definitions/Location"}}}, "500": {"description": "Unable to gather locations"}, "404": {"description": "Unable to find locations"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get all facilities", "operationId": "get_location_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Inventory"]}}, "/inventory/product": {"parameters": [{"default": "MAIN", "type": "string", "enum": ["MAIN", "MASSIVESTORAGE", "GPU", "OUTLET", "LANDING"], "in": "query", "description": "Retrieve products by their location in the Hivelocity store: \n\nMAIN: The main list of instant (and custom servers).\nMASSIVESTORAGE: Servers with up to 90 drives.\nGPU: Servers with GPUs.\nOUTLET: Discounted older hardware.\nLANDING: Periodic specials for events.", "name": "location"}, {"type": "boolean", "default": false, "in": "query", "description": "Include custom server products.", "name": "include_custom"}, {"default": null, "in": "query", "description": "Filter by bonding support. Values are true/false. None will return a mix of both.\n*DEPRECATED:* Soon, all servers sold will have bonding support and this will be removed.", "name": "bonding_support", "type": "string"}, {"default": "facility", "in": "query", "description": "Get results grouped by 'city', 'facility', or 'flat'", "name": "group_by", "type": "string"}], "get": {"responses": {"200": {"description": "Product data was found", "schema": {"$ref": "#/definitions/Inventory"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get all products", "operationId": "get_stock_resource", "tags": ["Inventory"]}}, "/inventory/product/{productId}": {"parameters": [{"in": "path", "description": "Product database ID", "name": "productId", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Product data was found", "schema": {"$ref": "#/definitions/Stock"}}, "404": {"description": "Product with given id not found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get product", "operationId": "get_stock_by_product_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Inventory"]}}, "/ip/": {"get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/IPAssignment"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get all assignments", "operationId": "get_ip_assignment_resource", "parameters": [{"name": "displayPrivateNetworks", "in": "query", "type": "boolean", "description": "Return Private (RFC 1918) Addresses in Results", "default": false}, {"name": "displayIPv6", "in": "query", "type": "boolean", "description": "Return IPv6 Addresses in Results", "default": true}, {"name": "clientId", "in": "query", "type": "integer", "minimum": 0, "exclusiveMinimum": true, "description": "Return IPs from this Client ID"}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["IPAssignment"]}, "post": {"responses": {"400": {"description": "Invalid action"}, "200": {"description": "Success"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Request new assignment", "operationId": "post_ip_assignment_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/IpAssignmentRequest"}}], "tags": ["IPAssignment"]}}, "/ip/address/{ipAddress}": {"parameters": [{"name": "ipAddress", "in": "path", "required": true, "type": "string"}], "get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/IPAssignment"}}, "404": {"description": "IP assignment not found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get assignment by IP", "operationId": "get_ip_assignment_subnet_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["IPAssignment"]}}, "/ip/combine": {"post": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/IPAssignment"}}, "404": {"description": "IP assignment not found"}, "401": {"description": "Access to this IP Assignment is not allowed"}, "400": {"description": "Invalid action"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Combine assignments", "operationId": "post_ip_assignment_combine_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/IpAssignmentCombine"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["IPAssignment"]}}, "/ip/{ipAssignmentId}": {"parameters": [{"name": "ipAssignmentId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/IPAssignment"}}, "404": {"description": "IP Assignment Not Found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get assignment", "operationId": "get_ip_assignment_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["IPAssignment"]}, "put": {"responses": {"202": {"description": "Accepted", "schema": {"$ref": "#/definitions/NetworkTask-dump"}}, "429": {"description": "Request was Rate Limited"}, "404": {"description": "IP assignment not found"}, "401": {"description": "Access to this IP Assignment is not allowed"}, "400": {"description": "Invalid action"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Route assignment to IP", "operationId": "put_ip_assignment_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/IpAssignmentPut"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["IPAssignment"]}, "delete": {"responses": {"404": {"description": "IP assignment not found"}, "401": {"description": "Access to this IP Assignment is not allowed"}, "400": {"description": "Invalid action"}, "204": {"description": "Success"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Delete assignment", "operationId": "delete_ip_assignment_id_resource", "tags": ["IPAssignment"]}}, "/ip/{ipAssignmentId}/clear": {"parameters": [{"name": "ipAssignmentId", "in": "path", "required": true, "type": "integer"}], "post": {"responses": {"202": {"description": "Accepted", "schema": {"$ref": "#/definitions/NetworkTask-dump"}}, "429": {"description": "Request was Rate Limited"}, "404": {"description": "IP assignment not found"}, "401": {"description": "Access to this IP Assignment is not allowed"}, "400": {"description": "Invalid action"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Clear all configuration on an IP Assignment", "operationId": "post_ip_assignment_id_clear_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["IPAssignment"]}}, "/ip/{ipAssignmentId}/split": {"parameters": [{"name": "ipAssignmentId", "in": "path", "required": true, "type": "integer"}], "post": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/IPAssignment"}}}, "404": {"description": "IP assignment not found"}, "401": {"description": "Access to this IP Assignment is not allowed"}, "400": {"description": "Invalid action"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Split assignment", "operationId": "post_ip_assignment_split_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["IPAssignment"]}}, "/network/status/": {"get": {"responses": {"200": {"description": "Success.", "schema": {"type": "array", "items": {"$ref": "#/definitions/NetworkTask-dump"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}, "400": {"description": "Bad Request."}}, "summary": "Get network task status", "operationId": "get_network_task_client_resource", "parameters": [{"name": "createdInLast", "in": "query", "type": "integer", "description": "Filter to retrieve tasks created in the last timedelta hours."}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Network"]}}, "/network/status/{deviceId}": {"parameters": [{"name": "deviceId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success.", "schema": {"$ref": "#/definitions/NetworkTask-dump"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get network task status by device", "operationId": "get_network_task_device_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Network"]}}, "/network/status/{taskId}": {"parameters": [{"name": "taskId", "in": "path", "required": true, "type": "string"}], "get": {"responses": {"200": {"description": "Success.", "schema": {"$ref": "#/definitions/NetworkTask-dump"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get network task status by task id", "operationId": "get_network_task_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Network"]}}, "/order-groups/": {"get": {"responses": {"200": {"description": "Order groups found successfuly.", "schema": {"type": "array", "items": {"$ref": "#/definitions/OrderGroup"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return a list with all Order Groups", "operationId": "get_order_group_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Order Groups"]}, "post": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/OrderGroup"}}, "201": {"description": "Order Group created."}, "400": {"description": "Invalid Order Group parameters."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Create a new Order Group", "operationId": "post_order_group_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/OrderGroupCreate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Order Groups"]}}, "/order-groups/{orderGroupId}": {"parameters": [{"in": "path", "description": "Id of the order group to interact with", "name": "orderGroupId", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Order Group Found.", "schema": {"$ref": "#/definitions/OrderGroup"}}, "401": {"description": "Access to Order Group not Allowed."}, "404": {"description": "Order Group Not Found."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return an Order Group", "operationId": "get_order_group_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Order Groups"]}, "put": {"responses": {"200": {"description": "Order Group updated.", "schema": {"$ref": "#/definitions/OrderGroup"}}, "400": {"description": "Invalid Order Group parameters."}, "404": {"description": "Order Group Not Found."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Update an Order Group", "operationId": "put_order_group_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/OrderGroupUpdate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Order Groups"]}, "delete": {"responses": {"204": {"description": "Order Group Deleted"}, "401": {"description": "Access to Order Group not Allowed."}, "404": {"description": "Order Group Not Found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Delete the specified Order Group", "operationId": "delete_order_group_id_resource", "tags": ["Order Groups"]}}, "/order/": {"get": {"responses": {"200": {"description": "A list of orders if the current user has them.", "schema": {"type": "array", "items": {"$ref": "#/definitions/Order-dump"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return a list with all Orders", "operationId": "get_order_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Order"]}}, "/order/in-progress": {"get": {"responses": {"200": {"description": "A list of in-progress orders if the current user has them.", "schema": {"type": "array", "items": {"$ref": "#/definitions/Order-dump"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return a list with all Orders", "operationId": "get_order_inprogress_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Order"]}}, "/order/{orderId}": {"parameters": [{"in": "path", "description": "\"ID of Order to View\"", "name": "orderId", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "An specific order with its details.", "schema": {"$ref": "#/definitions/Order-dump"}}, "404": {"description": "Order ID not found."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return details of a specific Order", "operationId": "get_order_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Order"]}}, "/permission/": {"get": {"responses": {"200": {"description": "Success"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Endpoint to get All Permissions", "operationId": "get_permission_all_resource", "tags": ["Permission"]}}, "/permission/contact": {"post": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/PermissionReturn"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Endpoint to assign a new Permission to a Contact", "operationId": "post_permission_assign_contact_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/Permission"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Permission"]}}, "/permission/contact/{contactId}": {"parameters": [{"name": "contactId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Endpoint to get Contact Permissions", "operationId": "get_permission_contact_resource", "tags": ["Permission"]}}, "/permission/user": {"get": {"responses": {"200": {"description": "Success"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Endpoint to get User Permissions", "operationId": "get_permission_user_resource", "tags": ["Permission"]}}, "/product/options": {"get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProductOption"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get all options", "operationId": "get_products_and_options_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Product"]}}, "/product/{productId}/operating-systems": {"parameters": [{"in": "path", "description": "ID of the Product", "name": "productId", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Option"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get product operating systems", "operationId": "get_product_operating_systems_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Product"]}}, "/product/{productId}/options": {"parameters": [{"default": "upgrade", "in": "query", "description": "Get results grouped by 'upgrade' or without grouping.", "name": "groupBy", "type": "string"}, {"in": "path", "description": "ID of the Product", "name": "productId", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Product data was found", "schema": {"$ref": "#/definitions/Options"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get product options", "operationId": "get_product_option_resource", "tags": ["Product"]}}, "/service/": {"parameters": [{"default": null, "type": "string", "in": "query", "description": "Return service having the same service type code, the default value is all\n The list of service types can be accessed on https://core.hivelocity.net/api/v2/service/types", "name": "type_code"}, {"type": "integer", "default": null, "in": "query", "description": "Order id of the service", "name": "orderId"}, {"default": "all", "required": true, "type": "string", "enum": ["all", "active", "deactivated", "pending", "suspended", "cancelled"], "in": "query", "description": "The current status of the service", "name": "status"}], "get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/FastService-dump"}}}, "404": {"description": "You don't own any services"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return a list of all account services", "operationId": "get_service_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Service"]}}, "/service/types": {"get": {"responses": {"200": {"description": "Service types retrieved", "schema": {"type": "array", "items": {"$ref": "#/definitions/ServiceType"}}}, "404": {"description": "Unable to retrieve service types"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return all available service types", "operationId": "get_service_type_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Service"]}}, "/service/{serviceId}": {"parameters": [{"type": "boolean", "in": "query", "description": "Includes on the field serviceOptions the options having price equal to zero", "name": "includeZeroPriceOptions"}, {"name": "serviceId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/Service"}}, "404": {"description": "Service not found"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Return a dictionary with data from a specific account service", "operationId": "get_service_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Service"]}}, "/ssh_key/": {"get": {"responses": {"200": {"description": "All Public ssh key successfully retrieved.", "schema": {"type": "array", "items": {"$ref": "#/definitions/SshKeyResponse"}}}, "400": {"description": "Unable to get all public ssh keys"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Gets all public ssh key", "operationId": "get_ssh_key_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["SshKey"]}, "post": {"responses": {"201": {"description": "Public ssh key successfully added ", "schema": {"$ref": "#/definitions/SshKeyResponse"}}, "400": {"description": "Unable to added public ssh key"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Adds public ssh key", "operationId": "post_ssh_key_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/SshKey"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["SshKey"]}}, "/ssh_key/{sshKeyId}": {"parameters": [{"name": "sshKeyId", "in": "path", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Public ssh key successfully retrieved.", "schema": {"$ref": "#/definitions/SshKeyResponse"}}, "404": {"description": "Public ssh key not found."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get public ssh key", "operationId": "get_ssh_key_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["SshKey"]}, "put": {"responses": {"200": {"description": "Public ssh key successfully updated.", "schema": {"$ref": "#/definitions/SshKeyResponse"}}, "400": {"description": "Unable to update public ssh key."}, "404": {"description": "Public ssh key not found."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Updates public ssh key", "operationId": "put_ssh_key_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/SshKeyUpdate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["SshKey"]}, "delete": {"responses": {"404": {"description": "Public ssh key not found."}, "200": {"description": "Public ssh key successfully removed."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Removes public ssh key", "operationId": "delete_ssh_key_id_resource", "tags": ["SshKey"]}}, "/vlan/": {"get": {"responses": {"200": {"description": "VLANs retrieved successfuly", "schema": {"type": "array", "items": {"$ref": "#/definitions/Vlan"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get all VLANs", "operationId": "get_vlan_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["VLAN"]}, "post": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/Vlan"}}, "400": {"description": "Invalid VLAN creation parameter."}, "201": {"description": "VLAN created successfully."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Create VLAN", "operationId": "post_vlan_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/VlanCreate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["VLAN"]}}, "/vlan/{vlanId}": {"parameters": [{"in": "path", "description": "Id of the VLAN to interact with", "name": "vlanId", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "VLAN Found", "schema": {"$ref": "#/definitions/Vlan"}}, "404": {"description": "VLAN Not Found"}, "401": {"description": "Access to VLAN not Allowed"}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Get VLAN", "operationId": "get_vlan_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["VLAN"]}, "put": {"responses": {"202": {"description": "Accepted.", "schema": {"$ref": "#/definitions/NetworkTask-dump"}}, "429": {"description": "Request was Rate Limited"}, "404": {"description": "VLAN Not Found"}, "401": {"description": "Access to VLAN not Allowed"}, "400": {"description": "Error."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Modify VLAN", "operationId": "put_vlan_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/VlanUpdate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["VLAN"]}, "delete": {"responses": {"404": {"description": "VLAN Not Found"}, "401": {"description": "Access to VLAN not Allowed"}, "400": {"description": "Error."}, "204": {"description": "Success."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Delete VLAN", "operationId": "delete_vlan_id_resource", "tags": ["VLAN"]}}, "/vlan/{vlanId}/clear": {"parameters": [{"in": "path", "description": "Id of the VLAN to interact with", "name": "vlanId", "required": true, "type": "integer"}], "post": {"responses": {"202": {"description": "Accepted.", "schema": {"$ref": "#/definitions/NetworkTask-dump"}}, "404": {"description": "VLAN Not Found"}, "401": {"description": "Access to VLAN not Allowed"}, "400": {"description": "Error."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Clear all configurations on this VLAN, including Ports, IPs and associated Static Routes", "operationId": "post_vlan_id_clear_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["VLAN"]}}, "/webhooks/": {"get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/Webhook"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Returns your active Webhooks", "operationId": "get_webhook_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Webhook"]}, "post": {"responses": {"200": {"description": "Webhook was created.", "schema": {"$ref": "#/definitions/Webhook"}}, "400": {"description": "Unable to create Webhook."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Create a new Webhook for a Webhook Event", "operationId": "post_webhook_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/WebhookCreate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Webhook"]}}, "/webhooks/events": {"get": {"responses": {"200": {"description": "Success", "schema": {"type": "array", "items": {"$ref": "#/definitions/WebhookEvent"}}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Returns all available Webhook Events", "operationId": "get_webhook_event_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Webhook"]}}, "/webhooks/trigger": {"parameters": [{"in": "query", "description": "The name of the webhook to trigger.", "name": "webhookName", "type": "string"}], "post": {"responses": {"202": {"description": "Accepted."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Queues a webhook for the event script action that was triggered", "operationId": "post_event_script_action_trigger_resource", "tags": ["Webhook"]}}, "/webhooks/{webhookId}": {"parameters": [{"in": "path", "description": "ID of Webhook to View / Update", "name": "webhookId", "required": true, "type": "integer"}], "get": {"responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/Webhook"}}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Returns detailed information for a Single Webhook", "operationId": "get_webhook_id_resource", "parameters": [{"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Webhook"]}, "put": {"responses": {"200": {"description": "Webhook was updated.", "schema": {"$ref": "#/definitions/Webhook"}}, "400": {"description": "Unable to update Webhook."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Updates a Single Webhook", "operationId": "put_webhook_id_resource", "parameters": [{"name": "payload", "required": true, "in": "body", "schema": {"$ref": "#/definitions/WebhookUpdate"}}, {"name": "X-Fields", "in": "header", "type": "string", "format": "mask", "description": "An optional fields mask"}], "tags": ["Webhook"]}, "delete": {"responses": {"204": {"description": "Webhook was deleted."}, "403": {"description": "You have not been granted permission to complete this action. Please contact your account manager to grant the proper permission."}}, "summary": "Deletes a single webhook", "operationId": "delete_webhook_id_resource", "tags": ["Webhook"]}}}, "info": {"title": "Hivelocity API for Partners", "version": "2.0", "description": "Interact with Hivelocity"}, "produces": ["application/json"], "consumes": ["application/json"], "securityDefinitions": {"apiKey": {"type": "apiKey", "in": "header", "name": "X-API-KEY"}}, "security": [{"apiKey": []}], "tags": [{"name": "Account", "description": "Endpoints to manage Account"}, {"name": "Bandwidth", "description": "Request Bandwidth Data."}, {"name": "Bare Metal Devices", "description": "Endpoints to handle bare metal devices."}, {"name": "BillingInfo", "description": "Endpoints to manage Billing Info"}, {"name": "Contact", "description": "Endpoints to manager Contacts"}, {"name": "Device", "description": "Access to your Bare-Metal or Virtual Devices"}, {"name": "Domains", "description": "Manage your DNS Domains"}, {"name": "Ignition", "description": "Endpoints to manage CoreOS ignition files."}, {"name": "Inventory", "description": "Products Inventory Data"}, {"name": "IPAssignment", "description": "Endpoints to manage IP Assignments"}, {"name": "Network", "description": "Endpoints to perform network related tasks"}, {"name": "Order", "description": "Get Order and its details"}, {"name": "Order Groups", "description": "Endpoints to manage Order Groups"}, {"name": "Permission", "description": "Endpoints to manage Permissions"}, {"name": "Product", "description": "Endpoints to manage Products"}, {"name": "Deployment", "description": "Endpoints to handle your servers provisioning"}, {"name": "Service", "description": "Service information"}, {"name": "SshKey", "description": "Endpoints to manage SSH key."}, {"name": "VLAN", "description": "Endpoints to manage VLANs"}, {"name": "Webhook", "description": "Access and modify your Hivelocity webhooks."}], "definitions": {"DeactivateEnterpriseControlledClient": {"required": ["clientId"], "properties": {"clientId": {"type": "integer"}}, "type": "object"}, "CreateEnterpriseControlledClient": {"required": ["company", "email"], "properties": {"company": {"type": "string"}, "password": {"type": "string"}, "email": {"type": "string"}}, "type": "object"}, "ControlledClient-dump": {"properties": {"country": {"type": "string"}, "id": {"type": "integer"}, "created": {"type": "integer"}, "fax": {"type": "string"}, "first": {"type": "string"}, "active": {"type": "boolean"}, "last": {"type": "string"}, "address": {"type": "string"}, "zip": {"type": "string"}, "state": {"type": "string"}, "phone": {"type": "string"}, "company": {"type": "string"}, "city": {"type": "string"}, "email": {"type": "string"}}, "type": "object"}, "ClientCreate-dump": {"properties": {"country": {"type": "string"}, "id": {"type": "integer"}, "created": {"type": "integer"}, "password": {"type": "string"}, "fax": {"type": "string"}, "first": {"type": "string"}, "active": {"type": "boolean"}, "last": {"type": "string"}, "address": {"type": "s
[...]
