---
layout: ""
page_title: "Provider: Hivelocity"
description: |-
  The Hivelocity provider provides resources to interact with the Hivelocity API.
---

# Hivelocity Provider

The Hivelocity provider provides resources to interact with the Hivelocity API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
